<!doctype html>
<html lang="en">
<head>
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>SpartanFest</title>

    <!-- Styles -->
    <link rel='stylesheet' href='../static/assets/css/bootstrap.min.css'>
    <link rel='stylesheet' href='../static/assets/css/animate.min.css'>
    <link rel='stylesheet' href="../static/assets/css/font-awesome.min.css"/>
    <link rel='stylesheet' href="../static/assets/css/style.css"/>

    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600,700,800' rel='stylesheet'
          type='text/css'>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
	<![endif]-->


</head>
<body>
<!-- Begin Hero Bg -->
<div id="parallax">
</div>
<!-- End Hero Bg
	================================================== -->
<!-- Start Header
	================================================== -->
<header id="header" class="navbar navbar-inverse navbar-fixed-top" role="banner">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- Your Logo -->
            <a href="#"><img src="../static/img/logo.png" href="#hero" class="img img-responsive"
                             style="height:60px; padding-top: 15px; width:auto;"></a>
        </div>
        <!-- Start Navigation -->
        <nav class="collapse navbar-collapse bs-navbar-collapse navbar-right" role="navigation">
            <ul class="nav navbar-nav">
                <li>
                    <a href="">Home</a>
                </li>
                <li>
                    <a href="#about">Line Up</a>
                </li>

                <!--<li>-->
                <!--<a href="#gallery">Partners</a>-->
                <!--</li>-->
                <!--<li>-->
                <!--<a href="#slider">Locations</a>-->
                <!--</li>-->


                <li>
                    <a href="#faq">FAQs</a>
                </li>

                <li>
                    <a href="#contactarea">Contact</a>
                </li>
            </ul>
        </nav>
    </div>
</header>

<!-- Intro
	================================================== -->
<section id="hero" class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="herotext">
                    <h1 class="wow bounceInDown" data-wow-duration="1s" data-wow-delay="0.1s"><span class="lighter">Welcome To</span>
                        SpartanFest
                    </h1>
                    <p class="lead wow zoomIn" data-wow-duration="2s" data-wow-delay="0.5s">
                        San Jose State's First Annual Music Festival
                    </p>
                    <p>
                        <a href="#faq" class="btn btn-default btn-lg wow fadeInLeft" role="button">Buy Tickets
                            Today</a> &nbsp;
                    </p>
                </div>
            </div>
            <div class="col-md-5">
            </div>
        </div>
    </div>
</section>
<!-- About
	================================================== -->
<section id="about" class="parallax section">
    <div class="wrapsection">
        <div class="parallax-overlay" style="background-color: #3D63A8;"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- Title -->
                    <div class="maintitle">
                        <h3 class="section-title"><strong>SpartanFest <span class="lighter">2019</span></strong> Lineup
                        </h3>
                        <p class="lead">
                            SpartanFest is kicking off with a lineup of amazing artists from many genres.
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="service-box wow flipInY" data-wow-duration="1.5s" data-wow-delay="0.1s">
                        <img src="./static/img/post.jpg" alt="">
                        <h3>Post Malone</h3>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="service-box wow flipInY" data-wow-duration="1.5s" data-wow-delay="0.2s">
                        <img src="./static/img/kanye.jpg" alt="">
                        <h3>Kanye West</h3>
                        <p>
                        </p>
                        <!--<button type="button" class="btn btn-info btn-md"><a href="#">Learn More</a></button>-->
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="service-box wow flipInY" data-wow-duration="1.5s" data-wow-delay="0.3s">
                        <img src="./static/img/billie.jpg" alt="">
                        <h3>Billie Eilish</h3>
                        <p>
                        </p>
                        <!--<button type="button" class="btn btn-info btn-md"><a href="#">Learn More</a></button>-->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="service-box wow flipInY" data-wow-duration="1.5s" data-wow-delay="0.1s">
                        <img src="./static/img/rick.gif" alt="">
                        <h3>Rick Astley</h3>
                        <p>
                        </p>
                        <!--<button type="button" class="btn btn-info btn-md"><a href="#">Learn More</a></button>-->
                    </div>

                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="service-box wow flipInY" data-wow-duration="1.5s" data-wow-delay="0.1s">
                        <img src="./static/img/arctic.jpg" alt="">
                        <h3>The Arctic Monkeys</h3>
                        <p>
                        </p>
                        <!--<button type="button" class="btn btn-info btn-md"><a href="#">Learn More</a></button>-->
                    </div>

                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="service-box wow flipInY" data-wow-duration="1.5s" data-wow-delay="0.1s">
                        <img src="./static/img/black.jpeg" alt="">
                        <h3>The Black Keys</h3>
                        <p>
                        </p>
                        <!--<button type="button" class="btn btn-info btn-md"><a href="#">Learn More</a></button>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Random
	================================================== -->
<section id="circuit" class="parallax section">
    <div class="wrapsection">
        <div class="parallax-overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 sol-sm-12">
                    <div class="maintitle">
                        <h3 class="section-title justtitle">Three Days Of Music</h3>
                        <p class="lead bottom0 wow bounceInUp">
                            SpartanFest will bring you music from 4 different stages. <br/>
                            Choose your favorite artists and be a part of the party.

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="faq" class="section">
    <div class="wrapsection">
        <div class="container">
            <div class="row">
                <div class="col-md-12 sol-sm-12">
                    <div class="maintitle">
                        <h3 class="section-title">Festival <span class="wow bounceInRight">FAQs</span></h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <div class="faq-block wow bounceInDown" data-wow-duration="1.5s" data-wow-delay="0s">
                        <div class="panel-group">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                            Should I go? </a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse">
                                    <div class="panel-body">
                                       Yes.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="faq-block wow bounceInDown" data-wow-duration="1.5s" data-wow-delay="0.1s">
                        <div class="panel-group">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                                            Where is the festival located? </a>
                                    </h4>
                                </div>
                                <div id="collapseFour" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        San Jose State University.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="faq-block wow bounceInDown" data-wow-duration="1.5s" data-wow-delay="0.2s">
                        <div class="panel-group">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">
                                            How Do I buy a ticket? </a>
                                    </h4>
                                </div>
                                <div id="collapseSeven" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        You can buy a ticket by sending .1 ether to "this contract".
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Contact
	================================================== -->
<section id="contactarea" class="parallax section">
    <div class="wrapsection">
        <div class="parallax-overlay" style="background-color:#3c6e71;"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="maintitle">
                        <h3 class="section-title">Get in Touch</h3>
                        <p class="lead">
                            If you have questions for us or would like to partner with SpartanFest, please send us a
                            message.
                        </p>
                    </div>
                    <form id="contact" method="post" class="text-left">
                        <fieldset>
                            <div class="row">
                                <div class="col-md-4 wow fadeIn animated animated" data-wow-delay="0.1s"
                                     data-wow-duration="2s">
                                    <label for="name">Name<span class="required">*</span></label>
                                    <input type="text" name="name" id="name" size="30" value="" required/>
                                </div>
                                <div class="col-md-4 wow fadeIn animated" data-wow-delay="0.3s" data-wow-duration="2s">
                                    <label for="email">Email<span class="required">*</span></label>
                                    <input type="text" name="email" id="email" size="30" value="" required/>
                                </div>
                                <div class="col-md-4 wow fadeIn animated" data-wow-delay="0.3s" data-wow-duration="2s">
                                    <label for="phone">Phone</label>
                                    <input type="text" name="phone" id="phone" size="30" value=""/>
                                </div>
                            </div>
                            <div class="wow fadeIn animated" data-wow-delay="0.3s" data-wow-duration="1.5"
                                 style="margin-top:15px;">
                                <label for="message">Message<span class="required">*</span></label>
                                <textarea name="message" id="message" required></textarea>
                            </div>
                            <div class="wow fadeIn animated" data-wow-delay="0.3" data-wow-duration="1.5s">
                                <input class="pull-right" id="submit" type="submit" name="submit" value="Send"/>
                            </div>
                        </fieldset>
                    </form>
                    <div id="success">
                        <p class="contactalert">
                            Your message was sent successfully! We will be in touch as soon as possible.
                        </p>
                    </div>
                    <div id="error">
                        <p class="contactalert">
                            Something went wrong, try refreshing and submitting the form again.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Credits 
=============================================== -->
<section id="credits" class="text-center">
	<span class="social wow zoomIn">
	</span><br/>
    Copyright &copy; <a href="#">2017 SpartanFest (SpartanFest)</a>
</section>
<!-- Bootstrap core JavaScript
	================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="../static/assets/js/jquery.min.js"></script>
<script src="../static/assets/js/bootstrap.min.js"></script>
<script src="../static/assets/js/waypoints.min.js"></script>
<script src="../static/assets/js/jquery.scrollTo.min.js"></script>
<script src="../static/assets/js/jquery.localScroll.min.js"></script>
<script src="../static/assets/js/jquery.magnific-popup.min.js"></script>
<script src="../static/assets/js/validate.js"></script>
<script src="../static/assets/js/common.js"></script>
<script src="../static/js/base.js"></script>
</body>
</html>